<div class="row-fluid group-wrap">
	<div class="span4 groups-container" ng-controller="GroupsController">
		<div class="groups-header">
			<h3 class="groups-header-label">Loops</h3>
		</div>
		<ul id="groups">
			<!--<li ng-click="selectGroup()">
				All
			</li>-->		
			<li ng-repeat="group in groups" ng-click="selectGroup(group)" ng-class="{active : isSelectedGroup(group)}">
				<div class="group-content">
					<div class="group-update">
						<span class="group-time-icon"></span> <span class="group-time">{{group.updated_at}}</span>
					</div>
					<div class="group-users">
						<span class="group-alias">{{group.alias}}</span>
					</div>
				</div>
			</li>
		</ul>
	</div>
	<div class="span8" ng-view>
	
	</div>
</div>