<div class="row-fluid">
	<div class="span4 groups-container" ng-controller="GroupsController">
		<ul id="groups">
			<li ng-click="selectGroup()">
				All
			</li>		
			<li ng-repeat="group in groups" ng-click="selectGroup(group)">
				{{group.alias}}
			</li>
		</ul>
	</div>
	<div class="span8" ng-view>
	
	</div>
</div>