<div class="row-fluid">
	<div class="span4" ng-controller="GroupsController">
		<ul id="groups">
			<li ng-repeat="group in groups">
				<a href="#/shares/{{group.groupId}}">{{group.title}}</a>
			</li>
		</ul>
	</div>
	<div class="span8" ng-view>
	
	</div>
</div>