@font-face {
    font-family: 'Open Sans';
    src: url('chrome-extension://__MSG_@@extension_id__/fonts/OpenSans-Semibold.ttf');
}

#LOOPER_MAIN {
    background: #57B18E;
    height: 50px;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 99999999999;
}

#LOOPER_LOGO {
    float: left;
    padding: 10px 0px 10px 30px;
}

#LOOPER_NAMES {
    background: none;
    border: 0;
    color: #FFFFFF;
    float: left;
    font: 20px 'Open Sans', Arial, sans-serif;
    height: 48px;
    padding: 0;
    margin: 0 0 0 30px;
    width: 85%;
}

#LOOPER_NAMES:focus {
    outline: none;
}

#LOOPER_NAMES::-webkit-input-placeholder {
    color: #429977;
}