@font-face {
    font-family: 'Open Sans';
    src: url('chrome-extension://__MSG_@@extension_id__/fonts/OpenSans-Semibold.ttf');
}

#LOOPER_MAIN {
    background: #57B18E;
    height: 50px;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 99999999999;
}

#LOOPER_LOGO {
    float: left;
    padding: 10px 0px 10px 30px;
}

#LOOPER_NAMES, #LOOPER_TAGS {
    background: none;
    border: 0;
    color: #FFFFFF;
    font: 18px 'Open Sans', Arial, sans-serif;
    height: 48px;
    left: 100px;
    letter-spacing: 0.06em;
    padding: 0;
    position: absolute;
    margin: 0 0 0 0px;
    width: 85%;
}

#LOOPER_TAGS {
    display: none;
    opacity: 0;
}

#LOOPER_NAMES:focus, #LOOPER_TAGS:focus {
    outline: none;
}

#LOOPER_NAMES::-webkit-input-placeholder, #LOOPER_TAGS::-webkit-input-placeholder {
    color: #429977;
}

/* AUTO COMPLETE */

.ui-autocomplete {
    position: fixed;
    left: 0 !important;
    top: 50px !important;
    width: 100% !important;
    z-index: 99999999998;
}

.ui-menu-item {
    display: block;
    height: 40px;
}

.ui-menu-item a {
    background: rgba(86, 158, 131, 0.9);
    color: #dbd2d3;
    display: block;
    font: 16px 'Open Sans', Arial, sans-serif;
    height: 30px;
    padding: 10px 0 0 100px;
}

.ui-menu-item a.ui-state-focus {
    background: rgba(81, 143, 120, 0.9);
}

.ui-helper-hidden-accessible {
    display: none;
}