<div ng-controller="DashboardController">
	<ul>
		<li>Articles</li>
		<li>Video</li>
		<li>Photos</li>
		<li>Music</li>						
	</ul>
	<div ng-repeat="share in shares" class="row-fluid share" ng-click="selectShare(share)">
		<div class="span2">
			<img src="{{share.thumb}}" width="200" height="150" />
		</div>
		<div class="span10">
			<div class="span1"></div>
			<div class="span11">
				<h3><a href="{{share.url}}" target="_blank">{{share.title}}</a></h3>
				<p>{{share.description}}</p>
				<p>{{share.prettyDate}}</p>
				<span ng-repeat="user in share.group.users">
					<img src="{{user.thumb_url}}" alt="{{user.name}}" />
				</span>
			</div>			
		</div>
	</div>
</div>