<div ng-controller="DashboardController">
		<div class="row-fluid">
			<div class="span12 filter-nav">
				<ul>
					<li ng-click="setMediaType('article')" class="filter-nav-button article">Articles</a></li>
					<li ng-click="setMediaType('video')" class="filter-nav-button video">Video</a></li>
					<li ng-click="setMediaType('photo')" class="filter-nav-button photo">Photos</a></li>
					<li ng-click="setMediaType('audio')" class="filter-nav-button audio">Music</a></li>						
				</ul>
				<input class="filter-search" ng-model="search" placeholder="SEARCH" ng-change="setSearchQuery(search)"></input>
			</div>
		</div>
	<div class="container-fluid shares-container">
		<div class="span12">
			<div ng-repeat="share in shares" class="row-fluid share" ng-click="selectShare(share)">
				<div class="span2">
					<img src="{{share.thumb}}" width="200" height="150" />
				</div>
				<div class="span10 share-contents">
					<h3><a href="{{share.url}}" target="_blank">{{share.title}}</a></h3>
					<p class="share-description">{{share.description}}</p>
					<div class="preview-html hide" ng-bind-html-unsafe="share.preview_html"></div>
					<span ng-repeat="user in share.group.users">
						<img class="user-img-read" src="{{user.thumb_url}}" alt="{{user.name}}" />
					</span>
					<div>
						<span class="group-time-icon"></span> <span class="group-time ng-binding "><a title="{{share.updated_at}}" class="pretty-date"></a></span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>